In [128]:
# Dependencies
import os
import pprint
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import requests

## MAC

In [129]:
# Set Executable Path & Initialize Chrome Browser
#executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
#browser = Browser('chrome', **executable_path, headless=False)

## Windows

In [130]:
# Set Executable Path & Initialize Chrome Browser
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

KeyboardInterrupt:

In [ ]:
# page = requests.get(url)
sacramento_url ='https://www.redfin.com/city/16409/CA/Sacramento/housing-market'
browser.visit(sacramento_url)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [ ]:
neighborhoods = {'Creekside': 'https://www.redfin.com/neighborhood/56574/CA/Sacramento/Creekside',
                 'Westlake': 'https://www.redfin.com/neighborhood/56567/CA/Sacramento/Westlake',
                 'Natomas Park': 'https://www.redfin.com/neighborhood/350822/CA/Sacramento/Natomas-Park',
                 'Regency Park': 'https://www.redfin.com/neighborhood/56443/CA/Sacramento/Regency-Park',
                 'South Natomas': 'https://www.redfin.com/neighborhood/2549/CA/Sacramento/South-Natomas',
                 'Northgate': 'https://www.redfin.com/neighborhood/1895/CA/Sacramento/Northgate',
                 'Gardenland': 'https://www.redfin.com/neighborhood/119996/CA/Sacramento/Gardenland',
                 'River Gardens': 'https://www.redfin.com/neighborhood/56481/CA/Sacramento/River-Gardens',
                 'Del Paso Heights': 'https://www.redfin.com/neighborhood/678/CA/Sacramento/Del-Paso-Heights',
                 'Robla': 'https://www.redfin.com/neighborhood/2310/CA/Sacramento/Robla',
                 'Glenwood Meadows': 'https://www.redfin.com/neighborhood/1107/CA/Sacramento/Glenwood-Meadows',
                 'East Del Paso Heights': 'https://www.redfin.com/neighborhood/119426/CA/Sacramento/East-del-Paso-Heights',
                 'Hagginwood':'https://www.redfin.com/neighborhood/115005/CA/Sacramento/Hagginwood',
                 'South Hagginwood': 'https://www.redfin.com/neighborhood/118194/CA/Sacramento/South-Hagginwood',
                 'Johnson Heights': 'https://www.redfin.com/neighborhood/1393/CA/Sacramento/Johnson-Heights',
                 'Noralto': 'https://www.redfin.com/neighborhood/112690/CA/Sacramento/Noralto',
                 'Ben Ali': 'https://www.redfin.com/neighborhood/195/CA/Sacramento/Ben-Ali',
                 'Old North Sacramento': 'https://www.redfin.com/neighborhood/2015/CA/Sacramento/Old-North-Sacramento',
                 'Woodlake': 'https://www.redfin.com/neighborhood/3118/CA/Sacramento/Woodlake',
                 'Swanston Estates': 'https://www.redfin.com/neighborhood/2669/CA/Sacramento/Swanston-Estates',
                 'Southern Pacific Richards': 'https://www.redfin.com/neighborhood/113245/CA/Sacramento/Southern-Pacific-Richards',
                 'Dos Rios Triangle': 'https://www.redfin.com/neighborhood/711/CA/Sacramento/Dos-Rios-Triangle',
                 'Alkali Flat': 'https://www.redfin.com/neighborhood/32/CA/Sacramento/Alkali-Flat',
                 'Mansion Flats': 'https://www.redfin.com/neighborhood/1617/CA/Sacramento/Mansion-Flats',
                 'Richmond Grove': 'https://www.redfin.com/neighborhood/2268/CA/Sacramento/Richmond-Grove',
                 'Southside Park': 'https://www.redfin.com/neighborhood/2569/CA/Sacramento/Southside-Park',
                 'Midtown': 'https://www.redfin.com/neighborhood/56692/CA/Sacramento/Midtown',
                 'Newton Booth': 'https://www.redfin.com/neighborhood/1829/CA/Sacramento/Newton-Booth',
                 'Boulevard Park': 'https://www.redfin.com/neighborhood/56685/CA/Sacramento/Boulevard-Park',
                 'Marshall School': 'https://www.redfin.com/neighborhood/56607/CA/Sacramento/Marshall-School',
                 'New Era Park': 'https://www.redfin.com/neighborhood/56695/CA/Sacramento/New-Era-Park',
                 'Downtown': 'https://www.redfin.com/neighborhood/548149/CA/Sacramento/Downtown-Sacramento', 
                 'Land Park': 'https://www.redfin.com/neighborhood/548150/CA/Sacramento/Land-Park',
                 'Upper Land Park': 'https://www.redfin.com/neighborhood/2825/CA/Sacramento/Upper-Land-Park',
                 'Little Pocket': 'https://www.redfin.com/neighborhood/1545/CA/Sacramento/Little-Pocket',
                 'Curtis Park': 'https://www.redfin.com/neighborhood/657/CA/Sacramento/Curtis-Park',
                 'South Land Park': 'https://www.redfin.com/neighborhood/2546/CA/Sacramento/South-Land-Park',
                 'Hollywood Park': 'https://www.redfin.com/neighborhood/1295/CA/Sacramento/Hollywood-Park',
                 'North City Farms': 'https://www.redfin.com/neighborhood/1863/CA/Sacramento/North-City-Farms',
                 'South City Farms': 'https://www.redfin.com/neighborhood/116074/CA/Sacramento/South-City-Farms',
                 'Brentwood': 'https://www.redfin.com/neighborhood/113421/CA/Sacramento/Brentwood',
                 'Golf Course Terrace': 'https://www.redfin.com/neighborhood/1117/CA/Sacramento/Golf-Course-Terrace',
                 'Woodbine': 'https://www.redfin.com/neighborhood/115008/CA/Sacramento/Woodbine',
                 'Pocket': 'https://www.redfin.com/neighborhood/2165/CA/Sacramento/Pocket',
                 'Meadowview': 'https://www.redfin.com/neighborhood/1665/CA/Sacramento/Meadowview',
                 'Parkway': 'https://www.redfin.com/neighborhood/119804/CA/Sacramento/Parkway',
                 'Valley Hi North Laguna': 'https://www.redfin.com/neighborhood/56617/CA/Sacramento/Valley-Highway-North-Laguna',
                 'South Oak Park': 'https://www.redfin.com/neighborhood/108890/CA/Sacramento/South-Oak-Park',
                 'Central Oak Park': 'https://www.redfin.com/neighborhood/435/CA/Sacramento/Central-Oak-Park',
                 'North Oak Park': 'https://www.redfin.com/neighborhood/1917/CA/Sacramento/North-Oak-Park',
                 'Tahoe Park': 'https://www.redfin.com/neighborhood/2679/CA/Sacramento/Tahoe-Park',
                 'West Tahoe Park': 'https://www.redfin.com/neighborhood/350597/CA/Sacramento/West-Tahoe-Park',
                 'Tahoe Park South': 'https://www.redfin.com/neighborhood/119998/CA/Sacramento/Tahoe-Park-South',
                 'Elmhurst': 'https://www.redfin.com/neighborhood/56630/CA/Sacramento/Elmhurst',
                 'Colonial Heights': 'https://www.redfin.com/neighborhood/560/CA/Sacramento/Colonial-Heights',
                 'Tallac Village': 'https://www.redfin.com/neighborhood/2684/CA/Sacramento/Tallac-Village',
                 'Fruitridge Manor': 'https://www.redfin.com/neighborhood/1052/CA/Sacramento/Fruitridge-Manor',
                 'Lawrence Park': 'https://www.redfin.com/neighborhood/1500/CA/Sacramento/Lawrence-Park',
                 'Elmhurst': 'https://www.redfin.com/neighborhood/56630/CA/Sacramento/Elmhurst',
                 'Tahoe Park East': 'https://www.redfin.com/neighborhood/116067/CA/Sacramento/Tahoe-Park-East',
                 'Colonial Manor': 'https://www.redfin.com/neighborhood/56434/CA/Sacramento/Colonial-Manor',
                 'Colonial Village': 'https://www.redfin.com/neighborhood/116332/CA/Sacramento/Colonial-Village',
                 'Avondale': 'https://www.redfin.com/neighborhood/117816/CA/Sacramento/Avondale',
                 'East Sacramento': 'https://www.redfin.com/neighborhood/834/CA/Sacramento/East-Sacramento',
                 'Alhambra Triangle': 'https://www.redfin.com/neighborhood/31/CA/Sacramento/Alhambra-Triangle',
                 'River Park': 'https://www.redfin.com/neighborhood/2291/CA/Sacramento/River-Park',
                 'Campus Commons': 'https://www.redfin.com/neighborhood/351/CA/Sacramento/Campus-Commons',
                 'College Glen': 'https://www.redfin.com/neighborhood/548148/CA/Sacramento/College-Glen',
                 'Sierra Oaks': 'https://www.redfin.com/neighborhood/42880/CA/Arden-Arcade/Sierra-Oaks'
                }

names = []
price = []
info = []    
prices =[]    
stats = []
beds = []
baths = []
area = []
real_estate = {}

for neighborhood in neighborhoods.values():
    browser.visit(neighborhood)
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    name = soup.find("h1", attrs={'data-rf-test-id':'h1-header'}).text
    price = soup.find_all("span", attrs={'data-rf-test-name':'homecard-price'})
    info = soup.find_all("div", class_="stats")

    for i in range(len(price)):
        price_result = soup.find_all("span", attrs={'data-rf-test-name':'homecard-price'})[i].text
        prices.append(price_result)
        names.append(name)
    for i in range(0, len(info), 3):
        beds_result = soup.find_all("div", class_="stats")[i].text
        beds.append(beds_result)
    for i in range(1, len(info), 3):
        baths_result = soup.find_all("div", class_="stats")[i].text
        baths.append(baths_result)
    for i in range(2, len(info), 3):
        area_result = soup.find_all("div", class_="stats")[i].text
        area.append(area_result)
    try:
        print(name)
        print(prices)
        print(beds)
        print(baths)
        print(area)
    except:
        print("no listing")
        pass

In [ ]:
# create a data frame from city information collected above
real_estate = {
    "name": names, 
    "price": prices,
    "beds": beds,
    "baths": baths,
    "square feet": area
}
real_estate_df = pd.DataFrame(real_estate)
real_estate_df.head(50)

In [ ]:
real_estate_df.to_csv('real_estate.csv', index = False)

In [131]:
real_estate_df = pd.read_csv('real_estate.csv')

In [132]:
for i in range(len(real_estate_df['baths'])):
    bath2 = real_estate_df['baths'][i][:-5].strip()
    x = bath2.replace(b'\xe2\x80\x94'.decode('utf-8'), '0')
    real_estate_df['baths'][i] = x

In [133]:
real_estate_df.head(60)

                         name     price    beds baths    square feet
0       Creekside Real Estate  $437,000  3 Beds   2.5  2,252 Sq. Ft.
1       Creekside Real Estate  $394,900  3 Beds   2.5  1,697 Sq. Ft.
2        Westlake Real Estate  $418,000  4 Beds   2.5  2,002 Sq. Ft.
3        Westlake Real Estate  $225,000   1 Bed     1    846 Sq. Ft.
4        Westlake Real Estate  $535,000  4 Beds     3  2,350 Sq. Ft.
5        Westlake Real Estate  $610,000  3 Beds   2.5  2,487 Sq. Ft.
6        Westlake Real Estate  $240,000   1 Bed     1  1,125 Sq. Ft.
7        Westlake Real Estate  $419,000  4 Beds     3  2,187 Sq. Ft.
8    Natomas Park Real Estate  $399,990  3 Beds   2.5  1,776 Sq. Ft.
9    Natomas Park Real Estate  $650,000  4 Beds     3  3,989 Sq. Ft.
10   Natomas Park Real Estate  $515,000  5 Beds     3  2,493 Sq. Ft.
11   Natomas Park Real Estate  $499,990  5 Beds   3.5  2,724 Sq. Ft.
12   Natomas Park Real Estate  $340,000  3 Beds     2  1,302 Sq. Ft.
13   Natomas Park Real Estate  $399,900  3 Beds     2  1,475 Sq. Ft.
14   Natomas Park Real Estate  $609,000  4 Beds   3.5  2,935 Sq. Ft.
15   Natomas Park Real Estate  $489,000  4 Beds     3  2,632 Sq. Ft.
16   Natomas Park Real Estate  $480,000  3 Beds     2  2,102 Sq. Ft.
17   Natomas Park Real Estate  $479,900  4 Beds   2.5  2,306 Sq. Ft.
18   Natomas Park Real Estate  $459,000  4 Beds     3  2,265 Sq. Ft.
19   Natomas Park Real Estate  $435,000  3 Beds   2.5  1,906 Sq. Ft.
20   Natomas Park Real Estate  $479,900  4 Beds     2  2,013 Sq. Ft.
21   Natomas Park Real Estate  $579,995  4 Beds     2  3,052 Sq. Ft.
22   Regency Park Real Estate  $429,900  3 Beds     2  1,557 Sq. Ft.
23   Regency Park Real Estate  $225,000   1 Bed     1    763 Sq. Ft.
24   Regency Park Real Estate  $284,950  3 Beds     3  1,334 Sq. Ft.
25   Regency Park Real Estate  $218,500   1 Bed     1    763 Sq. Ft.
26   Regency Park Real Estate  $389,000  3 Beds     2  1,492 Sq. Ft.
27   Regency Park Real Estate  $447,900  5 Beds     2  1,934 Sq. Ft.
28   Regency Park Real Estate  $349,900  2 Beds   2.5  1,174 Sq. Ft.
29  South Natomas Real Estate  $650,000  5 Beds     4  3,802 Sq. Ft.
30  South Natomas Real Estate  $670,000  4 Beds   2.5  2,930 Sq. Ft.
31  South Natomas Real Estate  $385,000  4 Beds     3  2,320 Sq. Ft.
32  South Natomas Real Estate  $349,999  3 Beds     2  1,260 Sq. Ft.
33  South Natomas Real Estate  $335,000  3 Beds     2  1,511 Sq. Ft.
34  South Natomas Real Estate  $369,000  3 Beds   2.5  1,552 Sq. Ft.
35  South Natomas Real Estate  $420,000  3 Beds     3  1,985 Sq. Ft.
36  South Natomas Real Estate  $365,000  3 Beds     2  1,336 Sq. Ft.
37  South Natomas Real Estate  $339,000  3 Beds   2.5  1,285 Sq. Ft.
38  South Natomas Real Estate  $799,900  5 Beds     3  3,446 Sq. Ft.
39  South Natomas Real Estate  $439,000  4 Beds     3  1,992 Sq. Ft.
40  South Natomas Real Estate  $220,000  3 Beds     2  1,035 Sq. Ft.
41  South Natomas Real Estate  $310,000  2 Beds     2  1,344 Sq. Ft.
42  South Natomas Real Estate  $289,970  3 Beds     2  1,126 Sq. Ft.
43  South Natomas Real Estate  $436,404  3 Beds   2.5  1,626 Sq. Ft.
44  South Natomas Real Estate  $447,491  3 Beds   2.5  1,713 Sq. Ft.
45  South Natomas Real Estate  $519,990  4 Beds     3  2,764 Sq. Ft.
46  South Natomas Real Estate  $429,990  3 Beds   2.5  1,718 Sq. Ft.
47  South Natomas Real Estate  $554,990  3 Beds     3  2,474 Sq. Ft.
48  South Natomas Real Estate  $369,900  2 Beds     2  1,402 Sq. Ft.
49      Northgate Real Estate  $385,000  4 Beds     2  1,390 Sq. Ft.
50     Gardenland Real Estate  $139,000   —Beds     0       —Sq. Ft.
51     Gardenland Real Estate  $269,000  2 Beds     1    768 Sq. Ft.
52     Gardenland Real Estate  $260,000  2 Beds     1    960 Sq. Ft.
53     Gardenland Real Estate  $199,000  2 Beds     1    714 Sq. Ft.
54     Gardenland Real Estate  $639,000  3 Beds     3  1,900 Sq. Ft.
55     Gardenland Real Estate  $649,000  3 Beds     2  1,148 Sq. Ft.
56     Gardenland Real Estate  $875,000   —Beds     0       —Sq. Ft.
57  River Gardens Real Estate  $165,000  3 Beds   1.5  1,054 Sq. Ft.
58  River Gardens Real Estate  $179,900  4 Beds   1.5  1,276 Sq. Ft.
59  River Gardens Real Estate  $169,000  3 Beds   1.5  1,052 Sq. Ft.

In [134]:
for i in range(len(real_estate_df['beds'])):
    beds2 = real_estate_df['beds'][i][:-4].strip()
    x = beds2.replace(b'\xe2\x80\x94'.decode('utf-8'), '0')
    real_estate_df['beds'][i] = x

real_estate_df.head(60)

                         name     price beds baths    square feet
0       Creekside Real Estate  $437,000    3   2.5  2,252 Sq. Ft.
1       Creekside Real Estate  $394,900    3   2.5  1,697 Sq. Ft.
2        Westlake Real Estate  $418,000    4   2.5  2,002 Sq. Ft.
3        Westlake Real Estate  $225,000    1     1    846 Sq. Ft.
4        Westlake Real Estate  $535,000    4     3  2,350 Sq. Ft.
5        Westlake Real Estate  $610,000    3   2.5  2,487 Sq. Ft.
6        Westlake Real Estate  $240,000    1     1  1,125 Sq. Ft.
7        Westlake Real Estate  $419,000    4     3  2,187 Sq. Ft.
8    Natomas Park Real Estate  $399,990    3   2.5  1,776 Sq. Ft.
9    Natomas Park Real Estate  $650,000    4     3  3,989 Sq. Ft.
10   Natomas Park Real Estate  $515,000    5     3  2,493 Sq. Ft.
11   Natomas Park Real Estate  $499,990    5   3.5  2,724 Sq. Ft.
12   Natomas Park Real Estate  $340,000    3     2  1,302 Sq. Ft.
13   Natomas Park Real Estate  $399,900    3     2  1,475 Sq. Ft.
14   Natomas Park Real Estate  $609,000    4   3.5  2,935 Sq. Ft.
15   Natomas Park Real Estate  $489,000    4     3  2,632 Sq. Ft.
16   Natomas Park Real Estate  $480,000    3     2  2,102 Sq. Ft.
17   Natomas Park Real Estate  $479,900    4   2.5  2,306 Sq. Ft.
18   Natomas Park Real Estate  $459,000    4     3  2,265 Sq. Ft.
19   Natomas Park Real Estate  $435,000    3   2.5  1,906 Sq. Ft.
20   Natomas Park Real Estate  $479,900    4     2  2,013 Sq. Ft.
21   Natomas Park Real Estate  $579,995    4     2  3,052 Sq. Ft.
22   Regency Park Real Estate  $429,900    3     2  1,557 Sq. Ft.
23   Regency Park Real Estate  $225,000    1     1    763 Sq. Ft.
24   Regency Park Real Estate  $284,950    3     3  1,334 Sq. Ft.
25   Regency Park Real Estate  $218,500    1     1    763 Sq. Ft.
26   Regency Park Real Estate  $389,000    3     2  1,492 Sq. Ft.
27   Regency Park Real Estate  $447,900    5     2  1,934 Sq. Ft.
28   Regency Park Real Estate  $349,900    2   2.5  1,174 Sq. Ft.
29  South Natomas Real Estate  $650,000    5     4  3,802 Sq. Ft.
30  South Natomas Real Estate  $670,000    4   2.5  2,930 Sq. Ft.
31  South Natomas Real Estate  $385,000    4     3  2,320 Sq. Ft.
32  South Natomas Real Estate  $349,999    3     2  1,260 Sq. Ft.
33  South Natomas Real Estate  $335,000    3     2  1,511 Sq. Ft.
34  South Natomas Real Estate  $369,000    3   2.5  1,552 Sq. Ft.
35  South Natomas Real Estate  $420,000    3     3  1,985 Sq. Ft.
36  South Natomas Real Estate  $365,000    3     2  1,336 Sq. Ft.
37  South Natomas Real Estate  $339,000    3   2.5  1,285 Sq. Ft.
38  South Natomas Real Estate  $799,900    5     3  3,446 Sq. Ft.
39  South Natomas Real Estate  $439,000    4     3  1,992 Sq. Ft.
40  South Natomas Real Estate  $220,000    3     2  1,035 Sq. Ft.
41  South Natomas Real Estate  $310,000    2     2  1,344 Sq. Ft.
42  South Natomas Real Estate  $289,970    3     2  1,126 Sq. Ft.
43  South Natomas Real Estate  $436,404    3   2.5  1,626 Sq. Ft.
44  South Natomas Real Estate  $447,491    3   2.5  1,713 Sq. Ft.
45  South Natomas Real Estate  $519,990    4     3  2,764 Sq. Ft.
46  South Natomas Real Estate  $429,990    3   2.5  1,718 Sq. Ft.
47  South Natomas Real Estate  $554,990    3     3  2,474 Sq. Ft.
48  South Natomas Real Estate  $369,900    2     2  1,402 Sq. Ft.
49      Northgate Real Estate  $385,000    4     2  1,390 Sq. Ft.
50     Gardenland Real Estate  $139,000    0     0       —Sq. Ft.
51     Gardenland Real Estate  $269,000    2     1    768 Sq. Ft.
52     Gardenland Real Estate  $260,000    2     1    960 Sq. Ft.
53     Gardenland Real Estate  $199,000    2     1    714 Sq. Ft.
54     Gardenland Real Estate  $639,000    3     3  1,900 Sq. Ft.
55     Gardenland Real Estate  $649,000    3     2  1,148 Sq. Ft.
56     Gardenland Real Estate  $875,000    0     0       —Sq. Ft.
57  River Gardens Real Estate  $165,000    3   1.5  1,054 Sq. Ft.
58  River Gardens Real Estate  $179,900    4   1.5  1,276 Sq. Ft.
59  River Gardens Real Estate  $169,000    3   1.5  1,052 Sq. Ft.

In [135]:
for i in range(len(real_estate_df['square feet'])):
    area2 = real_estate_df['square feet'][i][:-7].strip()
    x = area2.replace(b'\xe2\x80\x94'.decode('utf-8'), '0')
    real_estate_df['square feet'][i] = x

In [136]:
real_estate_df.head()

                    name     price beds baths square feet
0  Creekside Real Estate  $437,000    3   2.5       2,252
1  Creekside Real Estate  $394,900    3   2.5       1,697
2   Westlake Real Estate  $418,000    4   2.5       2,002
3   Westlake Real Estate  $225,000    1     1         846
4   Westlake Real Estate  $535,000    4     3       2,350

In [137]:
for i in range(len(real_estate_df['square feet'])):
    sf_clean = real_estate_df['square feet'][i].replace(',', '')
    real_estate_df['square feet'][i] = sf_clean

In [139]:
real_estate_df.head(50)

                         name     price beds baths square feet
0       Creekside Real Estate  $437,000    3   2.5        2252
1       Creekside Real Estate  $394,900    3   2.5        1697
2        Westlake Real Estate  $418,000    4   2.5        2002
3        Westlake Real Estate  $225,000    1     1         846
4        Westlake Real Estate  $535,000    4     3        2350
5        Westlake Real Estate  $610,000    3   2.5        2487
6        Westlake Real Estate  $240,000    1     1        1125
7        Westlake Real Estate  $419,000    4     3        2187
8    Natomas Park Real Estate  $399,990    3   2.5        1776
9    Natomas Park Real Estate  $650,000    4     3        3989
10   Natomas Park Real Estate  $515,000    5     3        2493
11   Natomas Park Real Estate  $499,990    5   3.5        2724
12   Natomas Park Real Estate  $340,000    3     2        1302
13   Natomas Park Real Estate  $399,900    3     2        1475
14   Natomas Park Real Estate  $609,000    4   3.5        2935
15   Natomas Park Real Estate  $489,000    4     3        2632
16   Natomas Park Real Estate  $480,000    3     2        2102
17   Natomas Park Real Estate  $479,900    4   2.5        2306
18   Natomas Park Real Estate  $459,000    4     3        2265
19   Natomas Park Real Estate  $435,000    3   2.5        1906
20   Natomas Park Real Estate  $479,900    4     2        2013
21   Natomas Park Real Estate  $579,995    4     2        3052
22   Regency Park Real Estate  $429,900    3     2        1557
23   Regency Park Real Estate  $225,000    1     1         763
24   Regency Park Real Estate  $284,950    3     3        1334
25   Regency Park Real Estate  $218,500    1     1         763
26   Regency Park Real Estate  $389,000    3     2        1492
27   Regency Park Real Estate  $447,900    5     2        1934
28   Regency Park Real Estate  $349,900    2   2.5        1174
29  South Natomas Real Estate  $650,000    5     4        3802
30  South Natomas Real Estate  $670,000    4   2.5        2930
31  South Natomas Real Estate  $385,000    4     3        2320
32  South Natomas Real Estate  $349,999    3     2        1260
33  South Natomas Real Estate  $335,000    3     2        1511
34  South Natomas Real Estate  $369,000    3   2.5        1552
35  South Natomas Real Estate  $420,000    3     3        1985
36  South Natomas Real Estate  $365,000    3     2        1336
37  South Natomas Real Estate  $339,000    3   2.5        1285
38  South Natomas Real Estate  $799,900    5     3        3446
39  South Natomas Real Estate  $439,000    4     3        1992
40  South Natomas Real Estate  $220,000    3     2        1035
41  South Natomas Real Estate  $310,000    2     2        1344
42  South Natomas Real Estate  $289,970    3     2        1126
43  South Natomas Real Estate  $436,404    3   2.5        1626
44  South Natomas Real Estate  $447,491    3   2.5        1713
45  South Natomas Real Estate  $519,990    4     3        2764
46  South Natomas Real Estate  $429,990    3   2.5        1718
47  South Natomas Real Estate  $554,990    3     3        2474
48  South Natomas Real Estate  $369,900    2     2        1402
49      Northgate Real Estate  $385,000    4     2        1390

In [142]:
for i in range(len(real_estate_df['beds'])):
    baths_int = float(real_estate_df['baths'][i])
    beds_int = int(real_estate_df['beds'][i])
    sf_int = int(real_estate_df['square feet'][i])
    real_estate_df['baths'][i] = baths_int
    real_estate_df['beds'][i] = beds_int
    real_estate_df['square feet'][i] = sf_int

In [143]:
real_estate_df.head()

                    name     price beds baths square feet
0  Creekside Real Estate  $437,000    3   2.5        2252
1  Creekside Real Estate  $394,900    3   2.5        1697
2   Westlake Real Estate  $418,000    4   2.5        2002
3   Westlake Real Estate  $225,000    1     1         846
4   Westlake Real Estate  $535,000    4     3        2350

In [144]:
print(type(real_estate_df['beds'][0]))
print(type(real_estate_df['baths'][0]))
print(type(real_estate_df['square feet'][0]))

<class 'int'>
<class 'float'>
<class 'int'>

In [145]:
real_estate_df.to_csv('real_estate.csv', index=False)

In [168]:
real_estate_df= pd.read_csv('real_estate.csv')

In [169]:
real_estate_df.head(52)

                         name     price  beds  baths  square feet
0       Creekside Real Estate  $437,000     3    2.5         2252
1       Creekside Real Estate  $394,900     3    2.5         1697
2        Westlake Real Estate  $418,000     4    2.5         2002
3        Westlake Real Estate  $225,000     1    1.0          846
4        Westlake Real Estate  $535,000     4    3.0         2350
5        Westlake Real Estate  $610,000     3    2.5         2487
6        Westlake Real Estate  $240,000     1    1.0         1125
7        Westlake Real Estate  $419,000     4    3.0         2187
8    Natomas Park Real Estate  $399,990     3    2.5         1776
9    Natomas Park Real Estate  $650,000     4    3.0         3989
10   Natomas Park Real Estate  $515,000     5    3.0         2493
11   Natomas Park Real Estate  $499,990     5    3.5         2724
12   Natomas Park Real Estate  $340,000     3    2.0         1302
13   Natomas Park Real Estate  $399,900     3    2.0         1475
14   Natomas Park Real Estate  $609,000     4    3.5         2935
15   Natomas Park Real Estate  $489,000     4    3.0         2632
16   Natomas Park Real Estate  $480,000     3    2.0         2102
17   Natomas Park Real Estate  $479,900     4    2.5         2306
18   Natomas Park Real Estate  $459,000     4    3.0         2265
19   Natomas Park Real Estate  $435,000     3    2.5         1906
20   Natomas Park Real Estate  $479,900     4    2.0         2013
21   Natomas Park Real Estate  $579,995     4    2.0         3052
22   Regency Park Real Estate  $429,900     3    2.0         1557
23   Regency Park Real Estate  $225,000     1    1.0          763
24   Regency Park Real Estate  $284,950     3    3.0         1334
25   Regency Park Real Estate  $218,500     1    1.0          763
26   Regency Park Real Estate  $389,000     3    2.0         1492
27   Regency Park Real Estate  $447,900     5    2.0         1934
28   Regency Park Real Estate  $349,900     2    2.5         1174
29  South Natomas Real Estate  $650,000     5    4.0         3802
30  South Natomas Real Estate  $670,000     4    2.5         2930
31  South Natomas Real Estate  $385,000     4    3.0         2320
32  South Natomas Real Estate  $349,999     3    2.0         1260
33  South Natomas Real Estate  $335,000     3    2.0         1511
34  South Natomas Real Estate  $369,000     3    2.5         1552
35  South Natomas Real Estate  $420,000     3    3.0         1985
36  South Natomas Real Estate  $365,000     3    2.0         1336
37  South Natomas Real Estate  $339,000     3    2.5         1285
38  South Natomas Real Estate  $799,900     5    3.0         3446
39  South Natomas Real Estate  $439,000     4    3.0         1992
40  South Natomas Real Estate  $220,000     3    2.0         1035
41  South Natomas Real Estate  $310,000     2    2.0         1344
42  South Natomas Real Estate  $289,970     3    2.0         1126
43  South Natomas Real Estate  $436,404     3    2.5         1626
44  South Natomas Real Estate  $447,491     3    2.5         1713
45  South Natomas Real Estate  $519,990     4    3.0         2764
46  South Natomas Real Estate  $429,990     3    2.5         1718
47  South Natomas Real Estate  $554,990     3    3.0         2474
48  South Natomas Real Estate  $369,900     2    2.0         1402
49      Northgate Real Estate  $385,000     4    2.0         1390
50     Gardenland Real Estate  $139,000     0    0.0            0
51     Gardenland Real Estate  $269,000     2    1.0          768

In [170]:
for i in range(len(real_estate_df['square feet'])):
    price_clean = int(real_estate_df['price'][i].replace('$', '').replace(',', '').replace('+', ''))
    real_estate_df['price'][i] = price_clean

C:\Users\marik\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [171]:
real_estate_df.head(50)

                         name   price  beds  baths  square feet
0       Creekside Real Estate  437000     3    2.5         2252
1       Creekside Real Estate  394900     3    2.5         1697
2        Westlake Real Estate  418000     4    2.5         2002
3        Westlake Real Estate  225000     1    1.0          846
4        Westlake Real Estate  535000     4    3.0         2350
5        Westlake Real Estate  610000     3    2.5         2487
6        Westlake Real Estate  240000     1    1.0         1125
7        Westlake Real Estate  419000     4    3.0         2187
8    Natomas Park Real Estate  399990     3    2.5         1776
9    Natomas Park Real Estate  650000     4    3.0         3989
10   Natomas Park Real Estate  515000     5    3.0         2493
11   Natomas Park Real Estate  499990     5    3.5         2724
12   Natomas Park Real Estate  340000     3    2.0         1302
13   Natomas Park Real Estate  399900     3    2.0         1475
14   Natomas Park Real Estate  609000     4    3.5         2935
15   Natomas Park Real Estate  489000     4    3.0         2632
16   Natomas Park Real Estate  480000     3    2.0         2102
17   Natomas Park Real Estate  479900     4    2.5         2306
18   Natomas Park Real Estate  459000     4    3.0         2265
19   Natomas Park Real Estate  435000     3    2.5         1906
20   Natomas Park Real Estate  479900     4    2.0         2013
21   Natomas Park Real Estate  579995     4    2.0         3052
22   Regency Park Real Estate  429900     3    2.0         1557
23   Regency Park Real Estate  225000     1    1.0          763
24   Regency Park Real Estate  284950     3    3.0         1334
25   Regency Park Real Estate  218500     1    1.0          763
26   Regency Park Real Estate  389000     3    2.0         1492
27   Regency Park Real Estate  447900     5    2.0         1934
28   Regency Park Real Estate  349900     2    2.5         1174
29  South Natomas Real Estate  650000     5    4.0         3802
30  South Natomas Real Estate  670000     4    2.5         2930
31  South Natomas Real Estate  385000     4    3.0         2320
32  South Natomas Real Estate  349999     3    2.0         1260
33  South Natomas Real Estate  335000     3    2.0         1511
34  South Natomas Real Estate  369000     3    2.5         1552
35  South Natomas Real Estate  420000     3    3.0         1985
36  South Natomas Real Estate  365000     3    2.0         1336
37  South Natomas Real Estate  339000     3    2.5         1285
38  South Natomas Real Estate  799900     5    3.0         3446
39  South Natomas Real Estate  439000     4    3.0         1992
40  South Natomas Real Estate  220000     3    2.0         1035
41  South Natomas Real Estate  310000     2    2.0         1344
42  South Natomas Real Estate  289970     3    2.0         1126
43  South Natomas Real Estate  436404     3    2.5         1626
44  South Natomas Real Estate  447491     3    2.5         1713
45  South Natomas Real Estate  519990     4    3.0         2764
46  South Natomas Real Estate  429990     3    2.5         1718
47  South Natomas Real Estate  554990     3    3.0         2474
48  South Natomas Real Estate  369900     2    2.0         1402
49      Northgate Real Estate  385000     4    2.0         1390

In [172]:
print(type(real_estate_df['price'][0]))

<class 'int'>

In [173]:
real_estate_df.to_csv('real_estate.csv', index=False)

In [ ]:
1A =